.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.conteiner__imagem {
    padding: 1em;
}

.llista-menu {
    display: none;
    position: absolute;
    top: 100%;
}
.conteiner__butao:checked ~ .llista-menu {
    display: block;
}